**/logs/
note.txt
dbt/logs/
.venv
dags
.db
dbt
plugins
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.log
db
airflow/logs
airflow/plugins
